* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: "Space Mono", monospace;
}
body {
  /* width: 100%;
      height: 700px; */
  background-color: hsl(185, 41%, 84%);
}
.container {
  display: flex;
  background-color: hsl(0, 0%, 100%);
  width: 565px;
  height: 298px;
  margin: 150px auto 150px auto;
  border-radius: 15px;
}
.billCalculate {
  width: 282.5px;
  padding: 20px;
}

.billDisplay {
    width: 282.5px;
    padding: 20px;
    display: grid;
       
}
/* .buttonStyle{
  width: "70px",
  height: "30px",
  borderRadius: "5px",
  border: "none",
  backgroundColor: "hsl(172, 67%, 45%)",
  fontFamily: "Space Mono",
  fontWeight: "900",
  color: "hsl(0, 0%, 100%)"
}
.buttonStyle:focus{
  background-color: hsl(172, 67%, 45%);
} */
.two{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 15px;
}
.billContainer{
    width: 242.5px;
    height: 252.5px;
    background-color: hsl(183, 100%, 15%);
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
   
}
.billCalculated{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 20px;
    gap: 30px;
    height: 70%;
}
.reset{
  text-align: center;
  padding-top: 0px;
  height: 30%;
}
.amountDesciption{
  font-size: 12px;
  font-weight: 400;
  font-family: "Space Mono", monospace;
  color : hsl(0, 0%, 100%);
}
.amountValue{
  font-family: "Space Mono", monospace;
  font-size: 24px;
  font-weight: 700;
  text-align: right;
  color: hsl(172, 67%, 45%);
  overflow: auto;
}
